body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {

}
.callout-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/images/neko.png) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.quotes-container {

}

.features-container {

}

/* Jumbotron header */
.jumbotron {
    background-color: transparent;
}
.jumbotron-header {
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
}
.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}
.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;
}