body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {

}
.callout-container {
    background: url(images/neko.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.quotes-container {

}

.features-container {

}