body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {

}
.callout-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/images/neko.png) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.quotes-container {

}

.features-container {

}